.case {
    position: relative;
  }
  
  .scroller-container {
    width: 15rem;
    height: 3rem;
    overflow: hidden;
  }

  /* .scroller-container:before {
    content: "▼";
    color: red;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 49px;
    z-index: 1;
  }

  .scroller-container:after {
    content: "▲";
    color: red;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 79px;
    z-index: 1;
  } */

  .scroller {
    display: flex;
    white-space: nowrap;
    transition: transform 8s ease-in-out;
    transform: translate(-96rem);

  }
  
  .scroller.open {
    animation: scrollItems 8s linear infinite;
  }
  
  @keyframes scrollItems {
    0% {
        transform: translateX(0rem);
        animation-timing-function: cubic-bezier(0.55, 0, 0.1, 1); /* Starts fast */

    }
    100% {
        transform: translateX(-96rem);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); /* Slows down until it stops */

    }
}